{% assign lang = site.locale | slice: 0,2 | default: "en" %}
{% case lang %}
{% when "ko" %}
  <script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lunr/lunr-ko.js' | relative_url }}"></script>
{% when "gr" %}
  <script src="{{ '/assets/js/lunr/lunr.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lunr/lunr-gr.js' | relative_url }}"></script>
{% else %}
  <script src="{{ '/assets/js/lunr/lunr.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lunr/lunr-en.js' | relative_url }}"></script>
{% endcase %}