<!-- start custom head snippets -->

{% assign ads_client = site.ads.client | default: "ca-pub-7710820123926917" %}
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ ads_client }}" crossorigin="anonymous"></script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
