{% assign ads = site.ads %}
{% assign render_ads = true %}

{% if ads == nil or ads.enabled != true or ads.provider == nil %}
  {% assign render_ads = false %}
{% endif %}

{% if render_ads and ads.posts_only and page.collection != "posts" %}
  {% assign render_ads = false %}
{% endif %}

{% if render_ads and include.position == "top_of_post" and ads.positions.top_of_post != true %}
  {% assign render_ads = false %}
{% endif %}

{% if render_ads and include.position == "bottom_of_post" and ads.positions.bottom_of_post != true %}
  {% assign render_ads = false %}
{% endif %}

{% if render_ads %}
  {% case ads.provider %}
  {% when "custom" %}
    {% include ads-providers/custom.html position=include.position %}
  {% endcase %}
{% endif %}
